<form class="flex gap-4" [formGroup]="dateForm">
  <div
    class="datepicker-toggle border border-blue-200 bg-blue-500 rounded-lg"
    [ngClass]="{ 'error-image': !!controls['minDate'].errors }"
  >
    <label class="datepicker-lable text-xs text-white mb-2" for="mindate">Min Date</label>
    <span class="datepicker-toggle-button">
      {{ controls['minDate'].value }}
    </span>
    <input formControlName="minDate" id="mindate" type="date" class="datepicker-input">
    <app-error [isError]="!!controls['minDate'].errors">
      invalid min date
    </app-error>
  </div>
  <span class="text-white text-2xl self-center">-</span>
  <div
    class="datepicker-toggle border border-blue-200 bg-blue-500 rounded-lg"
    [ngClass]="{ 'error-image': !!controls['maxDate'].errors }"
  >
    <label class="datepicker-lable text-xs text-white mb-2" for="maxdate">Max Date</label>
    <div>
      <span class="datepicker-toggle-button">
        {{ controls['maxDate'].value }}
      </span>
      <input formControlName="maxDate" id="maxdate" type="date" class="datepicker-input">
    </div>
    <app-error [isError]="!!controls['maxDate'].errors">
      invalid max date
    </app-error>
  </div>
</form>
