<div class="bg-blue-400 w-full max-w-screen-xl">
  <header class="py-6 px-14">
    <h2 class="text-white mb-3 text-2xl">
      Choose date range
    </h2>
    <app-date-form (minChanged)="setMin($event)" (maxChanged)="setMax($event)"></app-date-form>
  </header>
  @defer {
    <main class="h-max px-8 pt-3 pb-6">
      <section class="flex flex-wrap justify-center gap-4 w-full">
        @for (chart of typesList; track chart) {
          <app-chart
            [minDate]="minDate()"
            [maxDate]="maxDate()"
            [data]="randomData"
          ></app-chart>
        }
      </section>
    </main>
  } @placeholder (minimum 500ms) {
    <p class="w-full h-3/6 py-20 flex items-center justify-center text-5xl text-white">LOADING...</p>
  }
</div>
